{% extends 'base.html' %}

{% block content %}

<h2>Commit History for {{ repo.reponame }}</h2>

{% if commit_history %}
    <ul>
    {% for commit in commit_history %}
        <li>
            <strong>Message:</strong> {{ commit.message }}<br>
            <strong>Timestamp:</strong> {{ commit.timestamp }}<br>
            <strong>File Changes:</strong> {{ commit.file_changes }}
        </li>
        <hr>
    {% endfor %}
    </ul>
{% else %}
    <p>No commit history available for this repository.</p>
{% endif %}


<a href="{{ url_for('repo_view', repo_id=repo.id) }}" class="btn btn-secondary">Back to Repository</a>



{% endblock %}